body{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family:url(fonts/SpaceGrotesk-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/SpaceGrotesk-Medium.ttf);
}

.container-fluid {
  padding-bottom: 10%;
}

.navbar-area {
  display: flex;
  width: 100%;
}

.navbar-area .container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navbar-area .container .nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0px;
  font-family: myFirstFont;
  padding-top: 84px;
}

.navbar-area .container .nav .nav-items {
  display: flex;
  width: 361px;
  font-family: myFirstFont;
  /* background: aqua; */
  justify-content: space-around;
}

.navbar-area .container .nav .nav-items ul {
  list-style: none;
  display: flex;
  width: 100%;
  font-family: myFirstFont;
  justify-content: space-between;
}

.navbar-area .container .nav .nav-items ul a {
  font-weight: bold;
  margin-left: 15px;
  font-family: myFirstFont;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
  font-size: 30px;
  font-family: myFirstFont;
  letter-spacing: 2px;
  color: black;
}

.hero .cor-color {
  position: fixed;
  width: 1306.14px;
  height: 11vh;
  left: 1047.46px;
  top: 426.98px;
  background: #808bee;
  opacity: 0.2;
  filter: blur(233px);
  transform: rotate(90deg);
  box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero {
  min-height: 70vh;
  height: max-content;
  /* overflow-x: hidden; */
  /* padding-bottom: 30px; */
  margin-bottom: -5%;
}

.hero img {
  position: absolute;
  width: 90%;
}

.hero .container {
  overflow: visible;
}

.hero .container .content-area {
  padding: 100px 0px;
  text-align: justify;
}

.hero .container .content-area p {
  font-size: 40px;
  font-weight: 700;
  /* font-family: "Lato", sans-serif; */
}

.hero .container .content-area p span {
  font-size: 40px;
  font-weight: 700;
  text-decoration: underline;
  color: blue;
}

.hero .container .content-area .button-area-hero {
  width: 30%;
  padding: 10px 20px;
  text-align: center;
  align-items: center;
  background: #000000;
  border-radius: 8px;
}

.hero .container .content-area .button-area-hero a {
  color: white;
  font-weight: 500;
  font-family: myFirstFont;
}

.imagebox {
margin-top: 100px ;
  height: 110%;
  width: 100%;
}

.hero .imagebox .first-box {
  z-index: 99;
  width: 100%;
  height:fit-content;
  /* height: 700px; */
  background: #fa5710;
  position: relative;
  border-radius: 16px;
  overflow-y: visible;
  /* margin-bottom: -50px; */
  padding: 15px 15px 100px 15px;
}

.hero .imagebox img {
  width: 100%;
  position: relative;
  /* top: 59px; */
  align-items: center;
  /* left: 17px; */
  justify-content: center;
}

.hero .imagebox .second-box {
  position: absolute;
  top: 55.25%;
  width: 75%;
  left: 20%;
  height: 40%;
  bottom: 81.67%;
  background: #5807cc;
  mix-blend-mode: normal;
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 0 71%, 55% 0);
  box-shadow: -3px 4px 4px rgb(0 0 0 / 25%);
}

.branding {
  padding: 0%;
  position: relative;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(Asset/Vector-2.png);
  background-size: 1058px;
  background-repeat: no-repeat;
  background-position: right top;
  justify-content: center;
}

.video-container {
  margin-top: 30%;
  height: 600px;
  width: 300px;
  position: relative;
  left: 40%;
}

.video-container video {
  height: 500px;
  width: 400px;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .caption {
  z-index: 1;
  position: relative;
  padding: 20%;
}

.branding .content-branding {
  z-index: 999999;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.branding .content-branding .middl-content img {
  height: 20px;
  position: relative;
}

.branding .content-branding .heading {
  font-size: 30px;
}

.branding .content-branding .middl-content h1 {
  font-weight: 600;
  /* font-family: "Lato", sans-serif; */
}

.branding .content-branding .para {
  font-weight: 500;
  font-size: 20px;
}

.branding #background-video {
  align-items: center;
  position: absolute;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

.branding .branding-card {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 20px;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
  margin: 50px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */

.tab button.active {
  background-color: #ccc;
  color: white;
}

/* Style the tab content */
.tabcontent {
  width: 100%;
}

.tabcontent {
  position: absolute;
  top: 20px;
}

.tabstyle {
  min-width: 350px;
  background: #e5e5e5;
  z-index: 999999;
  width: 75%;
  height: fit-content;
  position: relative;
  padding: 12%;
  font-size: 23px;
  border-radius: 20px;
}

.tabstyle h3 {
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #fa5710;
  width: fit-content;
}

.tablinks {
  padding-left: 5%;
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.5;
}

.tablinks:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.work-with {
  background-color: #000000;
  min-height: 80vh;
}

.work-with .container{
  width: 85%;
}

.work-with h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  color: white;
  /* font-family: "Lato", sans-serif; */
  margin-bottom: 100px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  width: fit-content;
}

.work-with .card {
  color: #000000;
  /* border-radius: 10px; */
}

.work-with img {
  border: 9px black;
  border-radius: 10px;
}

.work-with .clients {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carousel-control-prev {
  margin-left: -10%;
}

.carousel-control-next {
  margin-right: -10%;
  overflow-x: hidden;
}

.img-fluid {
  scale: 1.1;
}

.img-fluid:hover {
  transition: 0.2s;
  scale: 1.12;
}

.work-with .clients img {
  width: 180px;
  border-radius: 20px;
  padding: 10px;
  transition: transform 0.2s;
}

.work-with .clients img {
  width: 180px;
  border-radius: 20px;
  padding: 10px;
  transition: transform 0.2s;
}

.work-with .clients img:hover {
  transform: scale(1.2);
}

@media (max-width: 780px) {
  .work-with .container {
    display: none;
  }
}

@media (min-width: 780px) {
  .work-with .clients {
    display: none;
  }
}

.service {
  overflow-x: hidden;
  background-color: #000000;
  height: 800px;
  min-height: 100vh;
  padding: 20px;
}

.service .container #tablinksstyle{
padding: 100px 0 100px;
}

.service .services .active {
  color: white;
}

.service .services {
  color: rgb(201, 201, 201);
  list-style: none;
  font-size: 30px;
  font-weight: 600;
}

.service .services li {
  margin-top: 10px;
  text-transform: uppercase;
}

.service .content-area {
  background: white;
  z-index: 999999;
  width: 455px;
  position: absolute;
  padding: 216px 52px;
  font-size: 23px;
  border-radius: 20px;
}

.service .image-area {
  top: 60px;
  /* left: 60%; */
  right: 0%;
  border-radius: 20px;
  position: absolute;
}

.service .image-area img {
  margin-right: 0%;
  margin-top: 0%;
  width: 270px;
  /* margin-left: -10%; */
}

.contact {
  background-color: #5807cc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact:hover {
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); */
  background-image: url(Asset/Rectangle\ 62.png);
}

.contact h2 {
  /* font-family: "Lato", sans-serif; */
  font-size: 60px;
  color: white;
  font-weight: 500;
  padding: 10% 5% 0% 5%;
}

.contact h2 span {
  font-size: 70px;
  /* font-family: "Lato", sans-serif; */
  text-transform: uppercase;
  font-weight: bold;
}

.contact p {
  font-size: 30px;
  /* font-family: "Lato", sans-serif; */
  line-height: 60px;
  color: white;
  font-weight: 400;
  padding: 0% 5% 10% 5%;
}

.contact a {
  padding: 18px 46px;
  margin-bottom: 10%;
  text-align: center;
  align-items: center;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  background-color: white;
  color: black;
  border-radius: 16px;
  text-decoration: none;
}

footer {
  background-color: black;
  /* font-family: "Lato", sans-serif; */
  padding: 50px 50px;
  min-height: 300px;
}

footer .container {
  color: white;
  font-size: 30px;
}

footer .container a {
  color: #e5e5e5;
  text-decoration: none;
}

footer .container a:hover {
  color: white;
}

footer .container h4::after {
  content: "";
  width: 25%;
  position: relative;
  left: 0;
  bottom: 1px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #e5e5e5;
}

footer .container h5 {
  margin-top: 40px;
  opacity: 0.5;
}

footer .container .col-md-4 {
  padding-right: 10px;
  padding-left: 0px;
  position: relative;
  min-width: 300px;
  min-height: 300px;
}
footer .container .row {
  /* flex-wrap: nowrap; */
}

footer .container ul {
  padding-top: 10px;
  padding-left: 0px;
}

footer .container ul li {
  list-style: none;
  font-size: 20px;
  padding-top: 7px;
  opacity: 0.6;
}

footer .container .logo-tex {
  height: 105px;
  width: 237px;
  padding-top: 70px;
  left: 208.451904296875px;
  top: 4523px;
  text-align: justify;
  border-radius: nullpx;
}

footer .container .logo-tex h2 {
  /* font-family: Lato; */
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
}

footer .container .logo-tex h2 span {
  /* font-family: Lato; */
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
}

@media only screen and (max-width: 600px) {
  .navbar-area .container .nav .nav-items ul {
    list-style: none;
    display: flex;
    width: 45%;
    font-family: myFirstFont;
    justify-content: space-between;
  }
  .navbar-area .container .nav .nav-items ul a {
    /* font-family: "Secular One", sans-serif; */
    font-size: 22px;
    /* font-family: myFirstFont; */
    font-family: url(fonts/SpaceGrotesk-Medium.ttf);
    letter-spacing: 2px;
    color: #000000d9;
  }
  .navbar-area .container .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
    font-family: myFirstFont;
    padding-top: 28px;
  }
  .navbar-area .container .nav img {
    width: 60%;
  }
  .navbar-area .container .nav .nav-items {
    display: flex;
    margin-right: 30%;
    width: 200px;
    font-family: myFirstFont;
    /* background: aqua; */
    justify-content: space-around;
  }

  .hero {
    min-height: 0vh;
  }
  .hero .container .content-area p {
    font-size: 25px;
  }
  .hero .container .content-area p span {
    font-size: 25px;
  }
  .hero .imagebox {
    margin-bottom: -50px;
  }
  .hero .imagebox .first-box {
    width: 170px;
    height: 250px;
    right: 10%;
    /* left: 45%; */
    writing-mode: lr;
    top: -150px;
    background: #fa5710;
    position: absolute;
    border-radius: 16px;
  }
  .hero .imagebox img {
    position: absolute;
    width: 90%;
    height: 80%;
    top: 8%;
    align-items: center;
    left: 10px;
    justify-content: center;
  }
  .hero .imagebox .second-box {
    position: absolute;
    top: 69%;
    width: 80px;
    left: 45.5%;
    height: 50px;
    bottom: 81.67%;
    background: #5807cc;
    mix-blend-mode: normal;
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 0 71%, 55% 0);
    box-shadow: -3px 4px 4px rgb(0 0 0 / 25%);
  }

  .video-container {
    height: 300px;
    width: 250px;
    position: relative;
    left: 20%;
  }
  .video-container .caption {
    z-index: 1;
    position: relative;
    /* text-align: center; */
    padding: 10%;
    /* left: 40%; */
  }
  .branding #background-video {
    height: 300px;
    width: 250px;
    align-items: center;
    /* position: relative; */
    left: 11px;
    align-items: center;
    border-radius: 16px;
    display: flex;
    justify-content: center;
  }
  .branding .content-branding {
    /* position: absolute; */
    top: 99%;
    display: flex;
    left: 13%;
    flex-direction: column;
    justify-content: space-between;
    height: 42%;
  }

  .service .content-area {
    background: white;
    z-index: 999999;
    width: 60%;
    /* position: absolute; */
    padding: 64px 27px;
    font-size: 16px;
    border-radius: 20px;
  }
  .service .image-area {
    top: 30px;
    border-radius: 20px;
    position: absolute;
    right: 10%;
    border-radius: 20px;
    margin-left: 70px;
  }
  .service .image-area img {
    width: 200px;
  }

  .work-with .clients img {
    width: 115px;
    border-radius: 20px;
    margin-bottom: 38px;
  }

  .service {
    background-color: #000000;
    min-height: 90vh;
  }

  .service .services {
    color: rgb(201, 201, 201);
    list-style: none;
    font-size: 30px;
    display: flex;
    padding: 20px;
    justify-content: center;
    font-weight: 600;
    text-align: justify;
    flex-direction: column;
  }
  #contentcolumn {
    width: 100%;
    height: fit-content;
  }
  .tabstyle {
    min-width: 250px;
    background: #e5e5e5;
    z-index: 999999;
    height: 350px;
    width: 250px;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    padding: 60px 25px;
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: 50px;
  }

  #tablinksstyle {
    padding: 30px;
  }
  .contact {
    background-color: #5807cc;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .contact h2 {
    /* font-family: "Lato", sans-serif; */
    font-size: 60px;
    color: white;
    font-size: 13px;
    font-weight: 500;
  }
  .contact h2 span {
    font-size: 20px;
    /* font-family: "Lato", sans-serif; */
    text-transform: uppercase;
    font-weight: bold;
  }
  .contact a {
    padding: 5px 25px;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    /* font-family: "Lato", sans-serif; */
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 16px;
    text-decoration: none;
  }
  .service .services li {
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  .branding {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./Vector-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 400px;
    justify-content: center;
  }
  .branding .content-branding {
    /* position: absolute; */
    top: 99%;
    display: flex;
    left: 13%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 18%;
  }
  .branding .content-branding .heading {
    font-size: 15px;
    margin-left: -10%;
  }
  .branding .content-branding .middl-content h1 {
    font-weight: 600;
    font-size: 23px;
    /* font-family: "Lato", sans-serif; */
    margin-left: -10%;
  }
  .branding .content-branding .middl-content img {
    height: 20px;
    left: 6%;
    position: relative;
  }
  .branding .content-branding .middl-content h1 {
    font-weight: 600;
    font-size: 23px;
    /* font-family: "Lato", sans-serif; */
  }
  .branding .content-branding .middl-content img {
    display: none;
    height: 20px;
    left: 6%;
    position: relative;
  }
  .branding .para {
    margin-top: 20px;
    font-weight: 500;
    /* font-family: "Lato", sans-serif; */

    font-size: 17px;
  }
  .work-with h2 {
    text-align: center;
    font-size: 34px;
    color: white;
    /* font-family: "Lato", sans-serif; */
    padding-bottom: 19px;
  }
  .work-with {
    background-color: #000000;
    min-height: 35vh;
  }
  .work-with .clients {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .contact p {
    font-size: 19px;
    /* font-family: "Lato", sans-serif; */
    line-height: normal;
    color: white;
    padding: 10px;
    font-weight: 400;
  }

  footer .container .logo-tex {
    height: 100%;
    width: 237px;
    padding-top: 70px;
    left: 208.451904296875px;
    top: 4523px;
    text-align: justify;
    border-radius: nullpx;
  }
  footer .container .logo-tex h2 {
    /* font-family: Lato; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: initial;
    letter-spacing: 0em;
  }
  footer .container .logo-tex h2 span {
    /* font-family: Lato; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: inherit;
  }
  footer .container h4:nth-child(0)::after {
    content: "";
    width: 20%;
    position: absolute;
    left: 0;
    bottom: 255px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #e5e5e5;
  }
  footer .container h4::after {
    content: "";
    width: 30%;
    position: absolute;
    left: 0;
    bottom: 255px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #e5e5e5;
  }
  footer .container h5 {
    margin-top: 30px;
    opacity: 0.5;
  }

  footer .container ul {
    padding-left: 0px;
  }
}
